@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-tXIeCAhhvE_H_font-family: "Inter";
  --mixin-tXIeCAhhvE_H_font-size: 16px;
  --mixin-tXIeCAhhvE_H_font-weight: 400;
  --mixin-tXIeCAhhvE_H_font-style: normal;
  --mixin-tXIeCAhhvE_H_color: #535353;
  --mixin-tXIeCAhhvE_H_text-align: left;
  --mixin-tXIeCAhhvE_H_text-transform: none;
  --mixin-tXIeCAhhvE_H_line-height: 1.5;
  --mixin-tXIeCAhhvE_H_letter-spacing: normal;
  --mixin-tXIeCAhhvE_H_white-space: pre-wrap;
  --mixin-tXIeCAhhvE_H_user-select: text;
  --mixin-tXIeCAhhvE_H_text-decoration-line: none;
  --mixin-tXIeCAhhvE_H_text-overflow: clip;
  --mixin-0KVh2LViajaF_color: #000000;
  --mixin-0KVh2LViajaF_font-weight: 900;
  --mixin-0KVh2LViajaF_font-size: 72px;
  --mixin-0KVh2LViajaF_line-height: 1;
  --mixin-0KVh2LViajaF_letter-spacing: -4px;
  --mixin-0KVh2LViajaF_white-space: pre-wrap;
  --mixin-JxZ5dBc5f-Kn_font-family: "Inter";
  --mixin-JxZ5dBc5f-Kn_color: #000000;
  --mixin-JxZ5dBc5f-Kn_font-size: 48px;
  --mixin-JxZ5dBc5f-Kn_font-weight: 700;
  --mixin-JxZ5dBc5f-Kn_letter-spacing: -1px;
  --mixin-JxZ5dBc5f-Kn_line-height: 1.1;
  --mixin-JxZ5dBc5f-Kn_white-space: pre-wrap;
  --mixin-n48k1lXo_5ky_color: #0070f3;
  --mixin-n48k1lXo_5ky_white-space: pre-wrap;
  --mixin-YYa4hMd4Qyps_font-family: "Inter";
  --mixin-YYa4hMd4Qyps_color: #000000;
  --mixin-YYa4hMd4Qyps_font-size: 32px;
  --mixin-YYa4hMd4Qyps_font-weight: 600;
  --mixin-YYa4hMd4Qyps_letter-spacing: -0.8px;
  --mixin-YYa4hMd4Qyps_line-height: 1.2;
  --mixin-YYa4hMd4Qyps_white-space: pre-wrap;
  --mixin-x1x2uFv4CIeGi_font-family: "Inter";
  --mixin-x1x2uFv4CIeGi_color: #000000;
  --mixin-x1x2uFv4CIeGi_font-size: 24px;
  --mixin-x1x2uFv4CIeGi_font-weight: 600;
  --mixin-x1x2uFv4CIeGi_letter-spacing: -0.5px;
  --mixin-x1x2uFv4CIeGi_line-height: 1.3;
  --mixin-x1x2uFv4CIeGi_white-space: pre-wrap;
  --mixin-p5lh42EQ3VwXe_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-p5lh42EQ3VwXe_border-bottom-color: #dddddd;
  --mixin-p5lh42EQ3VwXe_border-bottom-style: solid;
  --mixin-p5lh42EQ3VwXe_border-bottom-width: 1px;
  --mixin-p5lh42EQ3VwXe_border-left-color: #dddddd;
  --mixin-p5lh42EQ3VwXe_border-left-style: solid;
  --mixin-p5lh42EQ3VwXe_border-left-width: 1px;
  --mixin-p5lh42EQ3VwXe_border-right-color: #dddddd;
  --mixin-p5lh42EQ3VwXe_border-right-style: solid;
  --mixin-p5lh42EQ3VwXe_border-right-width: 1px;
  --mixin-p5lh42EQ3VwXe_border-top-color: #dddddd;
  --mixin-p5lh42EQ3VwXe_border-top-style: solid;
  --mixin-p5lh42EQ3VwXe_border-top-width: 1px;
  --mixin-p5lh42EQ3VwXe_border-bottom-left-radius: 3px;
  --mixin-p5lh42EQ3VwXe_border-bottom-right-radius: 3px;
  --mixin-p5lh42EQ3VwXe_border-top-left-radius: 3px;
  --mixin-p5lh42EQ3VwXe_border-top-right-radius: 3px;
  --mixin-p5lh42EQ3VwXe_font-family: "Inconsolata";
  --mixin-p5lh42EQ3VwXe_padding-bottom: 1px;
  --mixin-p5lh42EQ3VwXe_padding-left: 4px;
  --mixin-p5lh42EQ3VwXe_padding-right: 4px;
  --mixin-p5lh42EQ3VwXe_padding-top: 1px;
  --mixin-p5lh42EQ3VwXe_white-space: pre-wrap;
  --mixin-N6-BMCGFuULZ4_border-left-color: #dddddd;
  --mixin-N6-BMCGFuULZ4_border-left-style: solid;
  --mixin-N6-BMCGFuULZ4_border-left-width: 3px;
  --mixin-N6-BMCGFuULZ4_color: #888888;
  --mixin-N6-BMCGFuULZ4_padding-left: 10px;
  --mixin-N6-BMCGFuULZ4_white-space: pre-wrap;
  --mixin-j1HreOL6XL3zS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-j1HreOL6XL3zS_border-bottom-color: #dddddd;
  --mixin-j1HreOL6XL3zS_border-bottom-style: solid;
  --mixin-j1HreOL6XL3zS_border-bottom-width: 1px;
  --mixin-j1HreOL6XL3zS_border-left-color: #dddddd;
  --mixin-j1HreOL6XL3zS_border-left-style: solid;
  --mixin-j1HreOL6XL3zS_border-left-width: 1px;
  --mixin-j1HreOL6XL3zS_border-right-color: #dddddd;
  --mixin-j1HreOL6XL3zS_border-right-style: solid;
  --mixin-j1HreOL6XL3zS_border-right-width: 1px;
  --mixin-j1HreOL6XL3zS_border-top-color: #dddddd;
  --mixin-j1HreOL6XL3zS_border-top-style: solid;
  --mixin-j1HreOL6XL3zS_border-top-width: 1px;
  --mixin-j1HreOL6XL3zS_border-bottom-left-radius: 3px;
  --mixin-j1HreOL6XL3zS_border-bottom-right-radius: 3px;
  --mixin-j1HreOL6XL3zS_border-top-left-radius: 3px;
  --mixin-j1HreOL6XL3zS_border-top-right-radius: 3px;
  --mixin-j1HreOL6XL3zS_font-family: "Inconsolata";
  --mixin-j1HreOL6XL3zS_padding-bottom: 3px;
  --mixin-j1HreOL6XL3zS_padding-left: 6px;
  --mixin-j1HreOL6XL3zS_padding-right: 6px;
  --mixin-j1HreOL6XL3zS_padding-top: 3px;
  --mixin-j1HreOL6XL3zS_white-space: pre-wrap;
  --mixin-q0gySTg4K7PL9_display: flex;
  --mixin-q0gySTg4K7PL9_flex-direction: column;
  --mixin-q0gySTg4K7PL9_align-items: stretch;
  --mixin-q0gySTg4K7PL9_justify-content: flex-start;
  --mixin-q0gySTg4K7PL9_list-style-position: outside;
  --mixin-q0gySTg4K7PL9_padding-left: 40px;
  --mixin-q0gySTg4K7PL9_position: relative;
  --mixin-q0gySTg4K7PL9_list-style-type: disc;
  --mixin-q0gySTg4K7PL9_white-space: pre-wrap;
  --mixin-8oGf7E46Fiapl_display: flex;
  --mixin-8oGf7E46Fiapl_flex-direction: column;
  --mixin-8oGf7E46Fiapl_align-items: stretch;
  --mixin-8oGf7E46Fiapl_justify-content: flex-start;
  --mixin-8oGf7E46Fiapl_list-style-position: outside;
  --mixin-8oGf7E46Fiapl_padding-left: 40px;
  --mixin-8oGf7E46Fiapl_position: relative;
  --mixin-8oGf7E46Fiapl_list-style-type: decimal;
  --mixin-8oGf7E46Fiapl_white-space: pre-wrap;
  --mixin-dfVwcSZbjotwz_font-family: "Inter";
  --mixin-dfVwcSZbjotwz_color: #000000;
  --mixin-dfVwcSZbjotwz_font-size: 20px;
  --mixin-dfVwcSZbjotwz_font-weight: 600;
  --mixin-dfVwcSZbjotwz_letter-spacing: -0.3px;
  --mixin-dfVwcSZbjotwz_line-height: 1.5;
  --mixin-dfVwcSZbjotwz_white-space: pre-wrap;
  --mixin-Egctl4jdbs8PV_font-family: "Inter";
  --mixin-Egctl4jdbs8PV_color: #000000;
  --mixin-Egctl4jdbs8PV_font-size: 16px;
  --mixin-Egctl4jdbs8PV_font-weight: 600;
  --mixin-Egctl4jdbs8PV_line-height: 1.5;
  --mixin-Egctl4jdbs8PV_white-space: pre-wrap;
  --mixin-Jk2tcjRhCNrsb_color: #3291ff;
  --mixin-Jk2tcjRhCNrsb_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-tXIeCAhhvE_H_font-family);
  font-size: var(--mixin-tXIeCAhhvE_H_font-size);
  font-weight: var(--mixin-tXIeCAhhvE_H_font-weight);
  font-style: var(--mixin-tXIeCAhhvE_H_font-style);
  color: var(--mixin-tXIeCAhhvE_H_color);
  text-align: var(--mixin-tXIeCAhhvE_H_text-align);
  text-transform: var(--mixin-tXIeCAhhvE_H_text-transform);
  line-height: var(--mixin-tXIeCAhhvE_H_line-height);
  letter-spacing: var(--mixin-tXIeCAhhvE_H_letter-spacing);
  white-space: var(--mixin-tXIeCAhhvE_H_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-0KVh2LViajaF_color);
  font-weight: var(--mixin-0KVh2LViajaF_font-weight);
  font-size: var(--mixin-0KVh2LViajaF_font-size);
  line-height: var(--mixin-0KVh2LViajaF_line-height);
  letter-spacing: var(--mixin-0KVh2LViajaF_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-JxZ5dBc5f-Kn_font-family);
  color: var(--mixin-JxZ5dBc5f-Kn_color);
  font-size: var(--mixin-JxZ5dBc5f-Kn_font-size);
  font-weight: var(--mixin-JxZ5dBc5f-Kn_font-weight);
  letter-spacing: var(--mixin-JxZ5dBc5f-Kn_letter-spacing);
  line-height: var(--mixin-JxZ5dBc5f-Kn_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-n48k1lXo_5ky_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-YYa4hMd4Qyps_font-family);
  color: var(--mixin-YYa4hMd4Qyps_color);
  font-size: var(--mixin-YYa4hMd4Qyps_font-size);
  font-weight: var(--mixin-YYa4hMd4Qyps_font-weight);
  letter-spacing: var(--mixin-YYa4hMd4Qyps_letter-spacing);
  line-height: var(--mixin-YYa4hMd4Qyps_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-x1x2uFv4CIeGi_font-family);
  color: var(--mixin-x1x2uFv4CIeGi_color);
  font-size: var(--mixin-x1x2uFv4CIeGi_font-size);
  font-weight: var(--mixin-x1x2uFv4CIeGi_font-weight);
  letter-spacing: var(--mixin-x1x2uFv4CIeGi_letter-spacing);
  line-height: var(--mixin-x1x2uFv4CIeGi_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-p5lh42EQ3VwXe_background);
  font-family: var(--mixin-p5lh42EQ3VwXe_font-family);
  border-radius: var(--mixin-p5lh42EQ3VwXe_border-top-left-radius)
    var(--mixin-p5lh42EQ3VwXe_border-top-right-radius)
    var(--mixin-p5lh42EQ3VwXe_border-bottom-right-radius)
    var(--mixin-p5lh42EQ3VwXe_border-bottom-left-radius);
  padding: var(--mixin-p5lh42EQ3VwXe_padding-top)
    var(--mixin-p5lh42EQ3VwXe_padding-right)
    var(--mixin-p5lh42EQ3VwXe_padding-bottom)
    var(--mixin-p5lh42EQ3VwXe_padding-left);
  border-top: var(--mixin-p5lh42EQ3VwXe_border-top-width)
    var(--mixin-p5lh42EQ3VwXe_border-top-style)
    var(--mixin-p5lh42EQ3VwXe_border-top-color);
  border-right: var(--mixin-p5lh42EQ3VwXe_border-right-width)
    var(--mixin-p5lh42EQ3VwXe_border-right-style)
    var(--mixin-p5lh42EQ3VwXe_border-right-color);
  border-bottom: var(--mixin-p5lh42EQ3VwXe_border-bottom-width)
    var(--mixin-p5lh42EQ3VwXe_border-bottom-style)
    var(--mixin-p5lh42EQ3VwXe_border-bottom-color);
  border-left: var(--mixin-p5lh42EQ3VwXe_border-left-width)
    var(--mixin-p5lh42EQ3VwXe_border-left-style)
    var(--mixin-p5lh42EQ3VwXe_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-N6-BMCGFuULZ4_color);
  padding-left: var(--mixin-N6-BMCGFuULZ4_padding-left);
  border-left: var(--mixin-N6-BMCGFuULZ4_border-left-width)
    var(--mixin-N6-BMCGFuULZ4_border-left-style)
    var(--mixin-N6-BMCGFuULZ4_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-j1HreOL6XL3zS_background);
  font-family: var(--mixin-j1HreOL6XL3zS_font-family);
  border-radius: var(--mixin-j1HreOL6XL3zS_border-top-left-radius)
    var(--mixin-j1HreOL6XL3zS_border-top-right-radius)
    var(--mixin-j1HreOL6XL3zS_border-bottom-right-radius)
    var(--mixin-j1HreOL6XL3zS_border-bottom-left-radius);
  padding: var(--mixin-j1HreOL6XL3zS_padding-top)
    var(--mixin-j1HreOL6XL3zS_padding-right)
    var(--mixin-j1HreOL6XL3zS_padding-bottom)
    var(--mixin-j1HreOL6XL3zS_padding-left);
  border-top: var(--mixin-j1HreOL6XL3zS_border-top-width)
    var(--mixin-j1HreOL6XL3zS_border-top-style)
    var(--mixin-j1HreOL6XL3zS_border-top-color);
  border-right: var(--mixin-j1HreOL6XL3zS_border-right-width)
    var(--mixin-j1HreOL6XL3zS_border-right-style)
    var(--mixin-j1HreOL6XL3zS_border-right-color);
  border-bottom: var(--mixin-j1HreOL6XL3zS_border-bottom-width)
    var(--mixin-j1HreOL6XL3zS_border-bottom-style)
    var(--mixin-j1HreOL6XL3zS_border-bottom-color);
  border-left: var(--mixin-j1HreOL6XL3zS_border-left-width)
    var(--mixin-j1HreOL6XL3zS_border-left-style)
    var(--mixin-j1HreOL6XL3zS_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-q0gySTg4K7PL9_display);
  flex-direction: var(--mixin-q0gySTg4K7PL9_flex-direction);
  align-items: var(--mixin-q0gySTg4K7PL9_align-items);
  justify-content: var(--mixin-q0gySTg4K7PL9_justify-content);
  list-style-position: var(--mixin-q0gySTg4K7PL9_list-style-position);
  padding-left: var(--mixin-q0gySTg4K7PL9_padding-left);
  position: var(--mixin-q0gySTg4K7PL9_position);
  list-style-type: var(--mixin-q0gySTg4K7PL9_list-style-type);
  flex-column-gap: var(--mixin-q0gySTg4K7PL9_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-8oGf7E46Fiapl_display);
  flex-direction: var(--mixin-8oGf7E46Fiapl_flex-direction);
  align-items: var(--mixin-8oGf7E46Fiapl_align-items);
  justify-content: var(--mixin-8oGf7E46Fiapl_justify-content);
  list-style-position: var(--mixin-8oGf7E46Fiapl_list-style-position);
  padding-left: var(--mixin-8oGf7E46Fiapl_padding-left);
  position: var(--mixin-8oGf7E46Fiapl_position);
  list-style-type: var(--mixin-8oGf7E46Fiapl_list-style-type);
  flex-column-gap: var(--mixin-8oGf7E46Fiapl_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-dfVwcSZbjotwz_font-family);
  color: var(--mixin-dfVwcSZbjotwz_color);
  font-size: var(--mixin-dfVwcSZbjotwz_font-size);
  font-weight: var(--mixin-dfVwcSZbjotwz_font-weight);
  letter-spacing: var(--mixin-dfVwcSZbjotwz_letter-spacing);
  line-height: var(--mixin-dfVwcSZbjotwz_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-Egctl4jdbs8PV_font-family);
  color: var(--mixin-Egctl4jdbs8PV_color);
  font-size: var(--mixin-Egctl4jdbs8PV_font-size);
  font-weight: var(--mixin-Egctl4jdbs8PV_font-weight);
  line-height: var(--mixin-Egctl4jdbs8PV_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Jk2tcjRhCNrsb_color);
}
